img{
    display: block;
    margin: auto;
    margin-top: 15vh;
    width: 100px;      
}

#button{
    display: block;
    margin: auto;
    margin-top: 2px;
    border-radius: 15px;
    background-color: black;
    color: white;
}

#button:hover {
    background-color: rgb(70, 70, 70);
}